@font-face {
    font-family: "Graphik";
    src: url(../assets/fonts/Graphik-Regular-Trial.woff) format("woff"),
         url(../assets/fonts/Graphik-Regular-Trial.ttf) format("truetype"),
         url(../assets/fonts/Graphik-Bold-Trial.woff) format("woff"),
         url(../assets/fonts/Graphik-Bold-Trial.ttf) format("truetype");
}

body {
    font-family: "Graphik", sans-serif !important;
    width: 100%;

    header {
        padding: 0rem 6rem;
    
        input {
            outline: none;
            width: 250px;
        }
    
        a {
            color: #384050;
        }
    
        li:hover {
            text-decoration: underline;
        }
    }

    main {
        background-color: #f1f8fc;
        min-height: 67vh;
        padding: 0rem 6rem;
    
        h1, h2, .stars {
            color: #00497c;
        }
    
        ol, h3 {
            color: #0074c7;
        }
    
        p, a {
            color: #384050;
        }
    
        button {
            background-color: #0074c7;
            color: #f1f8fc;
    
            &:hover {
                background-color: #00497c;
            }
        }
    
        .artisan-card {
            .top-border {
                width: 4rem;
                height: 4px;
                background-color: #82b864;
            }
        
            &:nth-child(even) .top-border {
                background-color: #cd2c2e; 
            }
        }  
    
        .blue {
            color: #0074c7;
        }
    
        input, textarea {
            border-color: #0074c7 !important;
        }
        
        .nowrap {
            white-space: nowrap;
        }
    }

    footer {
        background-color: #0074c7;
        padding: 1rem 6rem 0rem 6rem !important;
    
        li, address, a {
            color: #f1f8fc;
        }
    
        li:hover, a:hover {
            text-decoration: underline !important;
        }
    }
}