@font-face {
    font-family: "Graphik";
    src: url(../assets/fonts/Graphik-Regular-Trial.woff) format("woff"),
         url(../assets/fonts/Graphik-Regular-Trial.ttf) format("truetype"),
         url(../assets/fonts/Graphik-Bold-Trial.woff) format("woff"),
         url(../assets/fonts/Graphik-Bold-Trial.ttf) format("truetype");
}

body {
    font-family: "Graphik", sans-serif !important;
    width: 100%;

    .content-margin {
        margin-top: 50px;
    }

    header {
        input {
            outline: none;
            width: 250px;
        }
    
        a {
            color: #384050;
        }
    
        li:hover {
            text-decoration: underline;
        }

        @media (min-width: 1025px) {
            padding: 0rem 6rem;
        }

        @media (max-width: 1024px) { 
            padding: 0rem 3rem;

            .logo {
                width: 100%;
            }
        }

        @media (max-width: 530px) {
            ul {
                flex-direction: column;
            }
        }

        @media (max-width: 350px) {
            padding: 0rem 1rem;
        }
    }

    main {
        background-color: #f1f8fc;
        min-height: 67vh;
    
        h1, h2, .stars {
            color: #00497c;
        }
    
        ol, h3, .blue {
            color: #0074c7;
        }
    
        p, a {
            color: #384050;
        }
    
        .button, button {
            background-color: #0074c7;
            color: #f1f8fc;
    
            &:hover {
                background-color: #00497c;
            }
        }

        .artisans {
            display: flex;
            flex-wrap: wrap;
        }
    
        .artisan-card {
            .top-border {
                width: 4rem;
                height: 4px;
                background-color: #82b864;
            }
        
            &:nth-child(even) .top-border {
                background-color: #cd2c2e; 
            }
        }  
    
        input, textarea {
            border-color: #0074c7 !important;
        }
        
        .nowrap {
            white-space: nowrap;
        }

        .form {
            display: flex;
            gap: 1rem; 
        
            div {
                width: 50%;
            }
        }

        .notfound {
            max-width: 80%;
        }

        @media (min-width: 1150px) {
            padding: 2rem 6rem;

            ol, .artisans {
                margin-left: 10rem;
            }

            .artisan-card {
                flex: 1 1 30%;
            }

            .desktop {
                display: block;
                padding-left: 5rem;
            }

            .mobile {
                display: none;
            }

            .contact {
                padding-left: 5rem;
            }
            
            .message {
                width: 50%;
            }
        } 

        @media (max-width: 1149px) {
            padding: 2rem 3rem;

            .artisan-card {
                flex: 1 1 48%;
            }

            .desktop {
                display: none;
            }

            .mobile {
                display: block;
            }
        }

        @media (max-width: 710px) {
            padding: 2rem 1rem;

            ol img {
                display: none;
            }

            .artisan-card {
                flex: 1 1 100%;
            }

            .form {
                flex-direction: column;

                div {
                    width: 100%;
                }
            }
        }
    }

    footer {
        background-color: #0074c7;
    
        li, address, a {
            color: #f1f8fc;
        }
    
        li:hover, a:hover {
            text-decoration: underline !important;
        }

        div {
            display: flex;
            justify-content: space-between;
        }

        ul, address {
            flex: 1;
        }

        address {
            border-left: 1px solid #f1f8fc;
            padding-left: 3rem;
        }

        @media (min-width: 1025px) {
            padding: 1rem 6rem 0rem 6rem !important;
        }

        @media (max-width: 1024px) { 
            padding: 1rem 1rem !important;            
        }

        @media (max-width: 500px) {
            div {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            address {
                border-left: none;
                padding-left: 0;
                border-top: 1px solid #f1f8fc;
                padding-top: 1rem;
            }
        }
    }
}


